{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
	<div class="container" style="text-align:center; width:300px">


        Success! {{ name }} mail has been sent.
	</div>
{% endblock content %}