{% extends "UiucCmsUserBundle::layout_nav.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Users:
        </h1>
    </div>
    <p class="lead">
    <table border="1" style="width:500px">
        <tr>
            <th>User Name</th>
            <th>User Email</th>
            <th>Promote</th>
        </tr>
        {% for user in users %}
            {% if user.hasRole("ROLE_ADMIN") == false and if (user.hasRole("ROLE_SUPER_ADMIN") == false %} 
                <tr>
                    <td>{{ user.getUserName() }}</td>
                    <td>{{ user.getEmail }}</td> 
                    <td> <a href="{{ path('uiuc_cms_admin_promote', {'id': user.getId()}) }}">Promote </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </p>
</div>
{% endblock fos_user_content %}