{% form_theme form 'UiucCmsSiteBundle:Form:fields.html.twig' %}
{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
      <div class="page-header">
          <h1>Create a New Conference</h1>
      </div>
      <div style="width: 300px;">
        {% if error is defined %}
            <div class="alert alert-danger"> {{ error }} </div>
        {% endif %}
        {{ form(form) }}
      </div>
	</div>
{% endblock content %}
