{% form_theme form 'UiucCmsUserBundle:Form:fields.html.twig' %}
{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
	<div class="container" style="text-align:center; width:300px">
        {% if errors is defined %}
                <div class="alert alert-danger"> 
                    {% for error in errors %}
                        {{ error.message }}<br> 
                    {% endfor %}
                </div>
                     
        {% endif %}
        Create a new conference:
        {{ form(form) }}
	</div>
{% endblock content %}
