{% form_theme form 'UiucCmsSiteBundle:Form:fields.html.twig' %}
{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
	<div class="container" style="text-align:center; width:300px">
        {% if error is defined %}
            <div class="alert alert-danger"> {{ error }} </div>
        {% endif %}
        Create a new conference:
        {{ form(form) }}
	</div>
{% endblock content %}
