{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Conferences
        </h1>
    </div>
    <p class="lead">
        {% if conferences is empty %}
            <h3>
                There are no conferences.
            </h3>
        {% else %}  
            {% for conference in conferences %}
                <li><a href="{{ path('uiuc_cms_conference_display', {'id': conference.id}) }}">{{ conference.name }}</li><br>
            {% endfor %}
        {% endif %}
    </p>
</div>
{% endblock content %}
