<!DOCTYPE html>
    <h3>
        Conferences:
    </h3>

	{% for conference in conferences %}
		<li><a href="{{ path('uiuc_cms_conference_display', {'id': conference.getId()}) }}">{{ conference.getName() }}</li><br>
	{% endfor %}
    <div>
    </div>

</html>
