{% extends 'uiucRailtecBundle::railtec.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
		<li>{{ profile.name }}</li>
		<li>{{ profile.company }}</li>
		<li>{{ profile.phone }}</li>
		<li>{{ profile.email }}</li>
{% endblock %}

