{% extends "UiucCmsUserBundle::layout.html.twig" %}

{% set user_active_menu = 'profile' %}

{% block fos_user_content %}
<div class="container">
  <div class="page-header">
      <h1>
          Change Password
      </h1>
  </div>
  {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>
{% endblock fos_user_content %}
