<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}UIUC RailTEC{% endblock %}</title>
		<!--link rel="icon" sizes="48x48" href="{{ asset('/images/favicon.png') }}" /-->
		{% block stylesheets %}
			{% stylesheets '@UiucCmsUserBundle/Resources/public/css/*' filter='cssrewrite' %} 
				<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}
		
			{% javascripts debug=true '@UiucCmsUserBundle/Resources/public/js/*' %}
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		
		{% include 'UiucCmsUserBundle:Default:header.html.php'%}
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
		
		{% include 'UiucCmsUserBundle:Default:copyright.html.php' %}
    </body>
</html>
