{% extends 'UiucCmsUserBundle::layout_nav.html.twig' %}

{% block fos_user_content %}

<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Hello, {{ user.firstName }}!
        </h1>
    </div>
    <p class="lead">
        {% if admin == true %}
          <li><a href="{{ path('uiuc_cms_create_conf') }}">Create a conference</a>
          {% else %}
          <li><a href="{{ path('uiuc_cms_join_conf') }}">Join a conference</a>
        {% endif %}
    </p>
</div>
{% endblock fos_user_content %}

