<html>
    <body>
       <ul>
         <li><a href="{{ path('fos_user_profile_show') }}">Profile</a>
         <li><a href="{{ path('fos_user_security_logout') }}">Logout</a>
       </ul>
    </body>
</html>
