<html>
    <body>
       <ul>
         <li><a href="{{ path('uiuc_cms_user_profile') }}">Profile</a>
         <li><a href="{{ path('uiuc_cms_user_logout') }}">Logout</a>
       </ul>
    </body>
</html>
