{% extends 'UiucCmsUserBundle::layout.html.twig' %}

{% block fos_user_content %}

<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Hello, {{ user.firstName }}!
        </h1>
    </div>
    <p class="lead">
    </p>
</div>
{% endblock fos_user_content %}

