<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}UIUC RailTEC{% endblock %}</title>
		<!--link rel="icon" sizes="48x48" href="{{ asset('/images/favicon.png') }}" /-->
		{% block stylesheets %}
			{% stylesheets '../app/Resources/css/*' filter='cssrewrite' %} 
				<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}
		
		{% block javascripts %}
			{% javascripts debug=true '../app/Resources/js/*' %}
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
		
		{% include 'header.html.twig' %}
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
		
        {% block footer %}
            {% include 'copyright.html.twig' %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <!-- Optional theme -->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
            <!-- Latest compiled and minified JavaScript -->
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% endblock footer %}
    </body>
</html>
