<!--Header-->
<style type="text/css">
#header #abstract-bg #navigation-bar #g-navigation {
	font-size: 14px;
}
INPUT.gsc-search-button {
filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF6303', EndColorStr='#FF6303') !important;
	border-color:#FF6303 !important;
}
</style>
<div class="full-width-wrapper" id="header">
	<div class="full-width-wrapper" id="abstract-bg">
		<div class="fixed-width-wrapper" id="banner">
			{% image '../app/Resources/images/logo.png' %}
				<img src={{ asset_url }} alt="RailTEC University of Illinois At Urbana Champaign" width="507" height="86">
			{% endimage %}
		</div>
	</div>
</div>
