<!DOCTYPE html>
<html lang="en">
    <body>
    
    <div>
            </div>

        <div class="container" style="text-align:center; width:300px">

            <h1>
                Bootstrap Conference
            </h1>
                    
            {% if error %}
                <div>
                    <font color="red">
                        {{ error.message }}
                    </font>
                </div>
            {% endif %}

            <form action="{{ path('uiuc_cms_user_login_check') }}" method="POST">
                <input class="form-control" type="text" name="username" placeholder="Username" style="margin-bottom:5px;" required autofocus>
                  {{ last_username }}
                </input>
                <input class="form-control" type="password" name="password" placeholder="Password" style="margin-bottom:5px;" required>
                <button type="submit" class="btn">Sign in</button>
            </form>

            <div>
                <!-- This will eventually point to register page -->
                <a class="btn" href="">Don't have an account? Register here!</a>
            </div>
        </div>

    </body>
   
    <!-- Bootstrap stuff. Not sure if we want to keep this. -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</html>
