


<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">
            div.error {
                color: red;
            }
        </style>
		

    </head>
    <body>
	
	
    <div class="container" style="text-align:left; width:300px">
		<h3>CMS Registration</h3>
		{{form(form)}}

    </body>
   

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		

</html>