<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">
            div.error {
                color: red;
            }
        </style>
    </head>
    <body>
    <div>
            </div>

        <div class="container" style="text-align:center; width:300px">

            <h1>
                Bootstrap Conference
            </h1>

            <span>Placeholder for registration page</span>
           
        </div>

    </body>
   
    <!-- Bootstrap stuff. Not sure if we want to keep this. TODO: Figure out what styles we want to use -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</html>
