A:link {
        COLOR: #F60; TEXT-DECORATION: none
}
A:visited {
        COLOR: #F60; TEXT-DECORATION: none
}
A:hover {
        COLOR: #F60; TEXT-DECORATION: underline
}
A:active {
        COLOR: #F60; TEXT-DECORATION: underline
}
A.ln:link {
        COLOR: #F60; TEXT-DECORATION: none; FONT-SIZE: 10px; FONT: Verdana, Arial, Helvetica, sans-serif;
}
A.ln:visited {
        COLOR: #F60; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica
}
A.ln:hover {
        COLOR: #F60; TEXT-DECORATION: underline; FONT: 10px verdana, arial, helvetica
}
A.ln:active {
        COLOR: #F60; TEXT-DECORATION: underline; FONT: 10px verdana, arial, helvetica
}
A.lnin:link {
        COLOR: #F60; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnin:visited {
        COLOR: #F60; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnin:hover {
        COLOR: #F60; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnin:active {
        COLOR: #F60; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnon:link {
        COLOR: #369; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnon:visited {
        COLOR: #369; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnon:hover {
        COLOR: #369; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnon:active {
        COLOR: #369; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnru:link {
        COLOR: #999; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnru:visited {
        COLOR: #999; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnru:hover {
        COLOR: #999; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.lnru:active {
        COLOR: #999; TEXT-DECORATION: none; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
A.editlink:link {
        COLOR: #FFF; TEXT-DECORATION: none; FONT: 9px verdana, arial, helvetica
}
A.editlink:visited {
        COLOR: #FFF; TEXT-DECORATION: none; FONT: 9px verdana, arial, helvetica
}
A.editlink:hover {
        COLOR: #FFF; TEXT-DECORATION: underline; FONT: 9px verdana, arial, helvetica
}
A.editlink:active {
        COLOR: #FFF; TEXT-DECORATION: underline; FONT: 9px verdana, arial, helvetica
}
A.editnav:link {
        COLOR: #FFF; TEXT-DECORATION: none; FONT: 9px verdana, arial, helvetica
}
A.editnav:visited {
        COLOR: #FFF; TEXT-DECORATION: none; FONT: 9px verdana, arial, helvetica
}
A.editnav:hover {
        COLOR: #FFF; TEXT-DECORATION: underline; FONT: 9px verdana, arial, helvetica
}
A.editnav:active {
        COLOR: #FFF; TEXT-DECORATION: underline; FONT: 9px verdana, arial, helvetica
}
ul {
        MARGIN-LEFT: 18px
}
ol {
        MARGIN-LEFT: 23px; MARGIN-TOP: 0px
}

.text {
        COLOR: #000000; FONT: 10px/normal verdana, arial, helvetica; TEXT-DECORATION: none
}

.facultyheader {
        COLOR: #666666; FONT: 11px/16px verdana, arial, helvetica; TEXT-DECORATION: none; margin-top: 6; margin-bottom: 0;
}

.facultyname {
        COLOR: #369; FONT: 12px/13px verdana, arial, helvetica; FONT-WEIGHT: bold; margin-top: 6; margin-bottom: 0;
}

.facultytext {
        COLOR: #666666; FONT: 11px/16px verdana, arial, helvetica; TEXT-DECORATION: none; LINE-HEIGHT: 1.5;
}

.glosshead {
        COLOR: #666666; FONT: 11px verdana, arial, helvetica; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
.blacktext {
        COLOR: #000; FONT: 11px verdana, arial, helvetica
}
.phead {
	COLOR: #003399;
	FONT: bolder normal 18px/normal verdana, arial, helvetica;
	LETTER-SPACING: 3px;
	text-decoration: none;
	text-transform: uppercase;


}
.q {
        COLOR: #369; FONT: 16px/19px verdana, arial, helvetica; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 5px; LETTER-SPACING: 3px
}
.intro {
        COLOR: #369; FONT: 13/16px verdana, arial, helvetica; FONT-WEIGHT: none; LETTER-SPACING: 1px
}
.head {
        COLOR: #369; FONT: 13px verdana, arial, helvetica; FONT-WEIGHT: bold; LETTER-SPACING: 1px
}
.head2 {
        COLOR: #FF9933; FONT: bold 12px verdana, arial, helvetica
}
.subhead {
        COLOR: #003399; FONT: bold 14px/16px verdana, arial, helvetica
}
.bold {
        COLOR: #666; FONT: 11px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.boldsm {
        COLOR: #666; FONT: 9px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.boldgray {
        COLOR: #999; FONT: 11px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.boldblue {
        COLOR: #369; FONT: 11px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.captionsm {
        COLOR: #369; FONT: 9px verdana, arial, helvetica
}
.caption {
        COLOR: #369; FONT: 11px verdana, arial, helvetica
}

.edithead {
        COLOR: #333; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.editsub {
        COLOR: #FFF; FONT: 10px verdana, arial, helvetica
}
.edittext {
        COLOR: #333; FONT: 9px verdana, arial, helvetica
}
.editbold {
        COLOR: #333; FONT: 9px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.editnavhead {
        COLOR: #333; FONT: 10px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.lnon {
        COLOR: #369; TEXT-DECORATION: none; FONT: 9px verdana, arial, helvetica; FONT-WEIGHT: bold
}
tt {
		COLOR: #666666; FONT: 11px; TEXT-DECORATION: none
}
.textsm {
        COLOR: #666666; FONT: 9px verdana, arial, helvetica; TEXT-DECORATION: none
}
.blacktextsm {
        COLOR: #000; FONT: 9px verdana, arial, helvetica
}
.textbg {
        COLOR: #666666; FONT: 11px verdana, arial, helvetica; TEXT-DECORATION: none
}
.boldbg {
        COLOR: #369; FONT: 11px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.captionbg {
        COLOR: #369; FONT: 11px verdana, arial, helvetica
}
.subheadbg {
        COLOR: #369; FONT: 11px verdana, arial, helvetica; FONT-WEIGHT: bold
}
.qbullet {
        COLOR: #369; FONT: 11px verdana, arial, helvetica
}
.abullet {
        COLOR: #369; FONT: 11px/16px verdana, arial, helvetica
}
.smblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #003366;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.smwhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.midblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
}
.lbcbhead {
	font-size: 16px;
	color: #003399;
	font-weight: bold;

}
.tablecell1 {
	font-size: 12px;
	line-height: normal;
}
.blueital {
	font-style: italic;
	color: #0066CC;
}
th {
	font-weight: bold;
	color: #003399;
	font-size: 12px;
}
/* MENU STYLES */


div.clSlideMenu{ /* All slideMenu2 DIV elements */
	position:absolute;
	font-family:verdana,arial,helvetica;
	font-size:10px;
	overflow:hidden;
	height:22;
}
a.clA0:hover{color:#ff9900; text-decoration:underline;}
a.clA1:hover{color:#ff9900; text-decoration:underline;}
a.clA2:hover{color:#ff9900; text-decoration:underline;}
a.clA3:hover{color:#ff9900; text-decoration:underline;}

a.clA0{ /* All top level links */
	color:#000066;
	font-size:12px;
	text-decoration:none;
}
a.clA1{ /* All sub level links */
	color:#000066;
	font-size:10px;
	text-decoration:none;
}
a.clA2{ /* All sub2 level links */
	color:#000066;
	font-size:10px;
	text-decoration:none;
}

a.clA3{ /* All sub3 level links */
	color:#000066;
	font-size:10px;
	text-decoration:none;
}
a.clA4{ /* All sub4 level links */
	color:#000066;
	text-decoration:none;
}

.clArrow{
	font-family:webdings;
}

/* NEEDED STYLES */
div.slideMenuBG{position:absolute; left:0; top:0; z-index:1}
div.slideMenuText{position:absolute; left:2; top:2; text-align:left; z-index:200}
#slideMenucont{position:absolute; width:'200'; visibility:hidden;}
.textorange {
	color: #FF9933;
}
.textblue {
	color: #003399;
}
.ConfLgWhite {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.ConfRegWhite {
	color: #FFFFFF;
	font-weight: bold;
}
.listbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	line-height: 40px;
	font-weight: bold;
	text-indent: 10pt;
	list-style-type: disc;


}
.textlargepara {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 40px;
}
.aar {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	text-transform: capitalize;
}
