/* CSS for the Sitemap */
.link_list ul li a {
  background-image:url('../images/orangesprite.png');
  background-repeat:no-repeat;
  background-position:0px -2px;
  display:block;
  height:32px;
  line-height:30px;
  padding-left:40px;
  color:#787878;
}

.parent a{
  background-image:url('../images/orangesprite.png');
  background-repeat:no-repeat;
  background-position:0px -2px;
  display:block;
  height:32px;
  line-height:30px;
  padding-left:40px;
  color:#C41D23;
}

.parent a:hover {
  background-image:url('../images/orangesprite.png');
  background-repeat:no-repeat;
  background-position:0px -44px;
}

.link_list ul li a:hover {
  background-image:url('../images/orangesprite.png');
  background-repeat:no-repeat;
  background-position:0px -44px;
}

.link_list ul li {margin-left:28px;}
.innerlinks ul li {display:inline;margin:0 5px;}
.outer {margin-bottom:25px;}
#innerwrapper {width:980px;}
#bottomlinks {margin:10px 0 10px 0;}