@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../images/light-bg.png);
	background-repeat:no-repeat;
	background-position:center -200px;

}
body.home{
	background-position:center 250px
}
.img-border{
	padding:5px;
	border:1px solid #e5e5e5;
	border-bottom-width:3px;
	float:left;
	display:block;
}


form input.input-field,textarea{
	background:#FFF url(../images/text-field-bg.png) top repeat-x;
	border:1px solid #d8d8d9;
	padding:7px 5px;
	color:#000000;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif
}

.bold{
	font-weight:bold
}
.float-left{
	float:left
}
.float-right{
	float:right
}
button.black{
	background:url(../images/black-btn-bg.png) repeat-x top #393939;
	border:1px solid #2d2d2d;
	padding:6px 10px 6px;
	font-size:12px;
	color:#FFF;
	cursor:pointer;
	margin:0 5px;
	font-family:Arial, Helvetica;
}
button.black:hover{
	background:#5a5a5a
}
button.black:active{
	background:#393939
}

.preloading-light{
	background: #FFF url(../images/preloader-light.gif) no-repeat 50% 50%;
	float:left;
}
.preloading-light img,.preloading-dark img,.img-border img{
	float:left;
}

.preloading-dark{
	background: #FFF url(../images/preloader-dark.gif) no-repeat 50% 50%;
}
.sprite,#navigation-bar,#banner .social-network li a,a.read-more,ul.point li a:hover em,.calendar,.overlay,ul.simple-drop-down-menu li.home-page > a,ul.list.quote li span,ul.list.cat li.current,ul.list.cat li a,#breadcrumbs,#breadcrumbs li,.services .service-heading,.map-point,label.error,.posts-info span,#view-switcher,#view-switcher li a,.post-tags li span{
	background-image:url(../images/sprite.png);
	background-repeat:no-repeat
}
.double-color,.first-word{
}
.full-width-wrapper,.fixed-width-wrapper,#banner,#slider-wrapper{
	clear:both;
	display:table;
}

.full-width-wrapper{
	width:100%;}

.fixed-width-wrapper{
	width:980px;
	margin:0 auto
}
.overflow-hidden{
	overflow:hidden
}
a.read-more{
	background-position:-529px -53px;
	width:125px;
	height:32px;
	text-indent:-9999px;
}
a.read-more:hover{
	background-position:-529px -85px
}
ul.list li{
	display:list-item;
}
ul.tweet li{
	padding-bottom:5px;
}
ul.zigzag li{
	clear:both;
	padding:15px 0;
	display:table;
	border-bottom:1px solid #dedede;
	border-top:1px solid #FFF;
}
ul.zigzag li:first-child{
	padding-top:0;
	border-top:none
}

ul.zigzag li strong{
	margin:0 0 10px 0;
}
ul.list.quote li span{
	background-position: -917px -97px;
	display:block;
	width:24px;
	height:18px;
	text-indent:-9999px;
	float:left;
	margin:5px 20px 10px 0
}
ul.list.quote li{
	text-align:right;
	margin-bottom:30px;
}
ul.list.quote li a b{
	color:#787878
}
ul.list.quote li a:hover b{
	text-decoration:underline;
	color:#787878
}
/**/
ul.list.cat li{
	margin-bottom:5px;
	background:none;
}
ul.list.cat li.current{
	background-position:-630px -209px
}
ul.list.cat li a{
	background-position:-630px -127px;
	display:block;
	height:32px;
	line-height:30px;
	padding-left:40px;
	color:#000000
}
ul.list.cat li.current a,ul.list.cat li a:hover{
	background-position:-630px -169px;
	text-decoration:none
}




/*Flick gallery*/
.flick-gallery li{
	display:inline;
	float:left;
	margin:0 15px 15px 0;
}
.flick-gallery li.reset-margin-right{
	margin-right:0
}
.flick-gallery li a{
	float:left;
	width:80px;
	height:80px;
	padding:5px;
	background-color:#000000;
	position:relative;
}
.flick-gallery li a .overlay{
	background-position:right -127px;
	width:80px;
	height:80px;
	position:absolute;
	top:5px;
	left:5px;
	cursor:pointer
}
.flick-gallery li img{
	width:80px;
}
/*List with pointer*/
ul.point li a{
	clear:both;
	line-height25px;
	color:#000000;
}
ul.point li a em{
	float:left;
	width:30px;
	height:27px;
	text-indent:10px;
	background:none
}
ul.point li a:hover em{
	background-position:-489px -53px;
	text-decoration:none

}
.calendar{
	width:65px;
	height:65px;
	overflow:hidden;
	text-align:center;
}
.calendar h1{
	margin:4px 0 1px 0;
	font-weight:bold;
	text-align:center
}
.calendar.black h1{
	color:#fafafa;
	margin-bottom:5px
}
.calendar span{
	font-size:10px;
	text-transform:uppercase;
	color:#b0b0b0
}
.calendar.black{
	background-position:-354px -53px;
	padding-left:4px;
	float:right;
}
.calendar.white h1{
	color:#787878
}
.calendar.white{
	background-position:-278px -53px;
	float:left;
	margin-left:-85px;
	padding-right:5px;
	margin-right:10px;
}
/*Header*/
.logo,.social-network,.social-network li a,ul.simple-drop-down-menu li a,#g-search button,#get-in-touch .via-phone-number .icon,.back-to-top,a.read-more,.flick-gallery li a,ul.zigzag li strong,ul.point li a,ul.point li a em{
	display:block
}
#header{
	border-top:5px solid #464646;
	background:url(../images/top-full-width-bg.png) repeat-x top;
}
#header #abstract-bg{
	background:url(../images/top-abstract-bg.png) no-repeat -20% top
}
#header #banner{
	height:130px;
}
#header #banner .logo{
	margin-top:15px;
	float:left
}
#header #banner .social-network{
	float:right;
	margin-right:20px;
}
#header #banner .social-network li{
	display:inline;
	float:left;
	margin:50px 3px 0;
}
#header #banner .social-network li a{
	float:left;
	background-position:-907px -53px;
	width:34px;
	height:34px;
	text-align:center;
}
#header #banner .social-network li a img{
	margin-top:5px;
}

#navigation-bar{
	background-position:0 0;
	height:41px;
	margin-bottom:40px;
}


/*Begin Simple Dropdown menu*/
ul.simple-drop-down-menu {
	position:relative;
	z-index:10;
}

ul.simple-drop-down-menu li {
	font-weight:bold;
	float:left;
		/*zoom:1;*/
	position:relative;
}

ul.simple-drop-down-menu li.home-page > a{
	background-position:15px -42px;
	padding-left:0px;
}
ul.simple-drop-down-menu li.home-page.current > a,ul.simple-drop-down-menu li.home-page:hover > a{
	background-position:15px -82px
}
ul.simple-drop-down-menu li a {
	padding:12px 13px 13px;
	color:#787878;
	position:relative;
	z-index:10

}
ul.simple-drop-down-menu li a.parent {
	padding-right:25px;
	position:relative
}
ul.simple-drop-down-menu li:hover{
	background:url(../images/sprite-menu.png) repeat-x left top #ff7604;
}
ul.simple-drop-down-menu li.current{
	background:url(../images/sprite-menu.png) repeat-x left bottom #ff7604;
}
ul.simple-drop-down-menu li:hover > a{
	text-decoration:none;
	color:#FFF
}
ul.simple-drop-down-menu li.current a{
	color: #FFF
}
ul.simple-drop-down-menu li.current ul li a{
	color:#787878
}
/*Level 2*/
ul.simple-drop-down-menu ul {
	width:200px;
	position:absolute;
	top:100%;
	left:0;
	display:none;
	
}
ul.simple-drop-down-menu ul li {
	background: #fbfbfb;
	border-bottom:1px solid #f2f2f2;
	border-top:1px solid #fff;
	float:none;
	clear:both;
	margin-right:0;
	font-weight:normal;
	border-left:5px solid #fbfbfb;
	z-index:999;
}
ul.simple-drop-down-menu ul li:first-child{
	border-top:none
}
ul.simple-drop-down-menu ul li a {
	padding:8px 10px;
}
ul.simple-drop-down-menu li a span{

	background:url(../images/drop-down-arr.png) no-repeat 0 0;
	width:9px;
	height:9px;
	overflow:hidden;
	position:absolute;
	right:8px;
	top:17px;
}
ul.simple-drop-down-menu li ul li a span{
	background-position:0 -9px;
	top:10px;
}

ul.simple-drop-down-menu ul li:hover {
	border-left:5px solid #dd303a;
	background:#FFF;
	color:#787878
}
ul.simple-drop-down-menu li ul li:hover{
	background:#FFF;
	border-left:5px solid #dd303a;
}
ul.simple-drop-down-menu li ul li:hover a{
	color:#787878
}
/*Level 3+*/
ul.simple-drop-down-menu ul ul {
	left:100%;
	top:0;
	padding-left:1px;
}
/*End Simple Dropdown menu*/



/*Global Search*/
#g-search{
	margin-top:6px;
	float:right;
	margin-right:5px;
	width:225px;

}
#g-search input{
	padding:6px 5px 5px;
	float:left;
	margin:0;
	width:160px;
	border:1px solid #e7e7e7;
}
#g-search button{
	background:url(../images/sprite.png) right -53px;
	overflow:visible;
	border:0 none;
	float:left;
	white-space:nowrap;
	padding-left:0;
	height:29px;
	margin:0 0 0 -1px;
	width:49px;
	cursor:pointer;
	text-indent:-9999px
}
#g-search button:hover{
	background-position:right -84px;
}

#slider-bg{
	background:url(../images/slider-full-width-bg.png) repeat-x left 45px;
	height:425px;
}
#slider-frame{
	background:url(../images/slider-bg.png) center top no-repeat;
	height:430px;
}
.slide-overlay{
	background:url(../images/slide-overlay.png) no-repeat;
	width:960px;
	height:370px;
	position:absolute;
	z-index:2;
	top:0;
	left:0;
}

/*Home Entry*/

.body-divider{
	background:url(../images/seperator-980.png) no-repeat center top;
	padding-top:30px
}
.three-column .block{
	width:300px;
	height:auto;
	float:left;
	margin-right:40px;
}
.three-column .block.last-child,.three-column .block.last-child-of-line{
	margin-right:0
}
.three-column .block .content{
	margin-bottom:10px;
}
.entry .block .content{
	min-height:710px;
	height:auto;
	height:310px;
}
.entry .block a.read-more{
	float:left
}

#get-in-touch{
	background:url(../images/seperator-980-50-opa.png) no-repeat center top;
	padding:80px 0 30px;
}

#get-in-touch .via-phone-number{
	width:580px;
}
#get-in-touch .via-phone-number .icon{
	background-position:-429px -53px;
	width:50px;
	height:50px;
	text-indent:-9999px;
	margin-right:20px;
}
#get-in-touch .via-phone-number h2{
	margin:3px 0 5px
}
#get-in-touch .via-email{
	width:385px;
}
#get-in-touch .via-email button{
	width:110px;
}
#get-in-touch .via-email button em{
	width:15px;
	height:15px;
	background-position:-489px -90px;
	float:left;
	margin-right:10px;
}
#get-in-touch .via-email button span{
	float:left
}
#get-in-touch .via-email input{
	width:250px;
	font-style:italic
}
/*Content*/

#content{
	display:block
}
#content.content-left{
	width:650px;
}
.header-text{
	position: relative;
	left: -9px;
	top: -14px;
}
#content h1.double-color,#sidebar h1.double-color{
	text-align:right
}
.sp{
	background:url(../images/sp.png) repeat-x bottom;
	padding-bottom:20px;
	margin-bottom:20px;
}
h1.double-color.sp{
	margin-bottom:30px;
}
#breadcrumbs{
	width:450px;
	background-position:-984px -27px;
	overflow:hidden;
	height:16px;
	padding-left:30px;
	position:absolute;
	top:19px;
}
#breadcrumbs li{
	display:inline-block;
	float:left;
	padding:0 15px 0 20px;
	background-position:-994px -219px
}
#breadcrumbs li:first-child{
	background:none
}
#breadcrumbs li a{
	font-size:10px;
	text-transform:uppercase;
	color:#787878
}
#breadcrumbs li a:hover,#breadcrumbs li.current a{
	color:#454545;
	text-decoration:none
}
.post p{
	margin:0 0 20px 0
}
.post .img-border {
	margin-bottom:15px;
}
/*Sidebar*/
#sidebar{
	width:280px;
}
#sidebar .ads a{
	padding:3px;
	border:1px solid #E5E5E5;
	margin:7px 0;
	border-bottom-width:3px;
}
#sidebar .ads a:hover{
	border-color:#CCC;
}
#sidebar .ads a.even{
	margin-right:14px;
}
/*Services*/
.services .service-heading{
	background-position:-5px -150px;
	padding-bottom:30px;
	margin-bottom:10px;
}
.services .service-heading img{
	float:left;
	margin-right:15px;
	display:block;
	margin-top:-5px;
}
.services .service-heading h3{
	margin-bottom:5px;

}
.services .service-heading span{
	color:#b0b0b0;
	font-size:11px;
}
.services .block{
	margin:15px 40px 15px 0
}
.services .block .content{
	overflow:hidden
}

/*Page Pagination*/
.page-pagination{
	margin-top:15px;
	padding-top:20px;
	text-transform:uppercase;
	font-size:10px;

}
.page-pagination a,.page-pagination span,a.btn-style{
	float:left;
	display:block;
	padding:6px 10px;
	margin-right:5px;


}
.page-pagination a.current,a.btn-style.red,a.btn-style.current,a.btn-style.dark:hover{
	background:url(../images/sprite-menu.png) left -50px repeat-x;
	border-color: #F60
}
.page-pagination a:hover,a.btn-style:hover,a.btn-style.red:hover,a.btn-style.dark{
	background:url(../images/sprite-menu.png) left -10px repeat-x;
	border-color:#262626
}
.page-pagination a:hover,.page-pagination a.current,a.btn-style.red,a.btn-style:hover,a.btn-style.dark{
	color:#FFF;
	text-decoration:none
}
.page-pagination a,a.btn-style{
	background:#f4f4f4 url(../images/button-highlight.png) repeat-x top;
	border:1px solid #E5E5E5;
	color:#787878
}

/*footer*/
#footer-wrapper{
	background:url(../images/footer-full-width-bg.png) repeat-x top #2b2b2b;
	color:#FFF;
}
#footer-content p,#footer-content h3, #footer-extra-wrapper a{
	color:#b0b0b0
}
#footer-content a,#footer-content h3 strong,#footer-extra-wrapper a:hover{
	color:#FFF
}
#footer-content em{
	color:#606060;
	font-size:11px;
	text-transform:capitalize;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#footer-content .three-column .block .content{
	padding: 25px 0 5px 0
}

#footer-content .three-column .block .content .tweet p{
	margin:0 0 3px 0;
}
#footer-content .three-column .block .content .latest-news li{
	margin-bottom:5px;
}
#footer-content .three-column .block .content .latest-news li p{
	margin-top:5px;
}

#footer-extra-wrapper{
	background:#181818;/*footer's color #181818*/
	padding:10px 0;
	font-size:10px;
	text-transform:none;
	color:#606060;
	height:38px;
}
#copyright ul li{
	display:inline;
	margin-top:5px;
	padding:0 10px;
	float:left;
	overflow:hidden;
	border-left:1px solid #333
}
#copyright ul li:first-child{
	border:none
}
#footer-extra-wrapper .logo{
	margin-right:15px;
}
.back-to-top{
	float:right;
	cursor:pointer;
	background-position:-986px 4px;
	padding:5px 0 0 20px;
}





/*Portfolio*/
.portfolio-main.filter li{
	display:inline;
	margin:0 0 0 20px;
	text-align:right
}
.portfolio-main.filter{
	float:right;
}
.portfolio-main.filter li a {
	color: #787878;
	text-decoration:none;
	padding:5px 10px;
	border:1px solid #f1f1f1;
	border:1px solid transparent;
}
.portfolio-content .block{
	margin-top:15px;
	min-height:300px;
}
.portfolio-content {
	width:1020px;
	padding-top:20px
}
.portfolio-content a img{
}
.portfolio-main.filter li.current a{
	background:#fafafa url(../images/button-highlight.png) repeat-x top;
	border-color:#E5E5E5;

}
.video-preview,.image-preview {
	position:relative
}
.video-preview  .overlay,.image-preview .overlay{
	width:286px;
	height:150px;
	background-color:#FFF;
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	z-index:10;
	left:5px;
	top:5px;

}
.video-preview .overlay{
	background-image:url(../images/video-light.jpg);
}
.image-preview .overlay{
	background-image:url(../images/maginifier-light.jpg);
}
/*About*/
.address .map-point{
	width:29px;
	height:44px;
	display:block;
	float:left;
	margin:8px 15px 5px 0;
	background-position:-591px -127px;
}


/*Tabless form*/
.form-row{
	padding:10px 0;
	display:block;
	clear:both;
	min-height:25px;
}
.form-row .form-row-label{
	width:130px;
	float:left;
	clear:left;
	display:block
}
#contact-form textarea{
	max-width:400px;
	height:150px
}
.maxx-form textarea,.maxx-form input,.maxx-form button{
	float:left;
}
label.error {
	background-position:-920px -219px ;
	width:22px;
	height:22px;
	display:block;
	text-indent:-9999px;
	float:left;
	margin:5px 0 0 5px
}




/*Blog entry*/
.list-blog-entry .posts-info,.list-blog-entry p{
	clear:both;

}
.blog-entry-content{
	float:left;
	width:415px;
}
.blog-entry-content h3,.blog-entry-content h2 a,.blog-entry-content h1 a{
	color:#787878;
}

.posts-info{
	overflow:hidden;
	padding-bottom:30px;
}
.blog-entry-content .posts-info{
	background:url(../images/sp-fade.png) no-repeat left bottom;
	padding-bottom:15px;
	margin-bottom:15px;
}
.posts-info span{
	display:block;
	float:left;
	height:20px;
	padding-left:25px;
	font-size:10px;
	margin-right:20px;
	line-height:20px;
	text-transform:uppercase;
	color:#B0B0B0
}
.posts-info span,.posts-info span a{
	color:#B0B0B0
}
.posts-info span a:hover{
	color:#787878;
	text-decoration:none
}
.posts-info span.date{
	background-position:-980px -249px
}
.posts-info span.user{
	background-position:-980px -279px
}
.posts-info span.category{
	background-position:-980px -309px
}

/*Blog layout type*/
/*button switcher*/
#view-switcher{
	width:91px;
	height:32px;
	background-position:-491px -127px;
	display:block;
	position:absolute;
	top:35px;
	right:43%
}
#view-switcher li{
	margin:1px 0 0 1px;
	text-transform:uppercase;
	font-size:10px;
}
#view-switcher li a:hover,#view-switcher li.active,#view-switcher li.active a{
	background-color:#FFF;
	opacity:1
}
#view-switcher li,#view-switcher li a{
	width:29px;
	height:28px;
	display:block;
	float:left;
}
#view-switcher li a{
	text-indent:-9999px;
}
#view-switcher li a.display-list-alternate{
	background-position:-493px -169px;
}
#view-switcher li a.display-list{

	background-position:-553px -169px;
}
#view-switcher li a.display-short{
	background-position:-523px -169px;
}




/*type 2*/
ul.display-list li,ul.display-list-alternate li{
	clear:both;
	padding:15px 0;
	width:100%;
	display:table;
}
ul.display-list li .img-border,ul.display-list-alternate li .img-border{
	margin:0 20px 0 0;
	float:left
}
ul.display-list li .img-border img ,ul.display-list-alternate li .img-border img{
	width:190px;
}
ul.display-list li h2,ul.display-list-alternate li h2{
	margin:0 0 10px 0
}
ul.display-list li a.read-more,ul.display-list-alternate li a.read-more{
	float:right;
	clear:both
}
/*type 1*/
ul.display-list-alternate li.odd .img-border{
	float:right;
	margin:0 0 0 20px;
}
ul.display-list-alternate li.odd a.read-more{
	float:left
}

/*type 3*/
ul.display-short li{
	width:300px;
	float:left;
	padding:15px 0
}
ul.display-short li.odd{
	padding-left:24px;
	border-left:1px solid #fafafa
}
ul.display-short li.even{
	padding-right:24px;
	border-right:1px solid #dfdfdf
}
ul.display-short li .img-border{
	margin-right:15px;
	float:left;
	overflow:hidden
}
ul.display-short li .img-border img{
	width:290px;
	height:150px

}
ul.display-short li .blog-entry-content{
	float:left;
	width:300px;
}
ul.display-short li p{
	height:80px;
	overflow:hidden
}
ul.display-short li .posts-info span.user{
	display:none
}


.entry-bottom > div{
	overflow:hidden
}


.post-tags li{
	display:inline;
	float:left;
	line-height:25px;
	margin-right:5px;
}
.post-tags li:first-child span{
	background-position:-413px -127px;
	width:68px;
	height:27px;
	display:block;
	float:left;
	line-height:25px;
	text-indent:30px
}
.post-tags li a{
	display:block;
	float:left;
	height:24px;
	padding:0 8px;
	border:1px solid #E5E5E5;
	border-bottom-width:2px;
	background:#fafafa;
	color:#B0B0B0

}
.post-tags li a:hover{
	border-color:#CCC;
	color:#C41D23;
	text-decoration:none;
}


.post-author h3{
	margin-top:5px;
}

.social-network-like-box > div{
	float:left
}



.comment-info {
	padding-bottom:20px;
	display:table;
	width:100%
}

.comment-info h3{
	margin:0;
	float:left
}
.comment-info > a{
	float:right;
	margin:0
}
.comment-content-wrapper > ul{
	overflow:hidden;
	border:1px solid #d8d8d8
}
.comment-content-wrapper > ul li{
	padding:20px 20px 10px;
	background:#fafafa;
	border-bottom:1px solid #E5E5E5;
	border-top:1px solid #FFF
}
.comment-content-wrapper > ul li .poster{
	float:right;
	margin-left:15px;
}
.comment-content-wrapper > ul li .comment-content .comment-heading{
	margin-bottom:10px;
}
.comment-content-wrapper > ul li .comment-content .comment-heading a{
	font-size:18px;
	font-weight:bold;
	margin-right:15px;
}

.personal-info input{
	margin-bottom:15px;
}


/*Error 404*/
#error-404,#error-404 *{
	text-align:center
}
#error-404 h1{
	font-size:63px;
	background:url(../images/404-shadow.png) no-repeat center 110px;
}

/* PAQ add-in */

/* contact us */
.newcontact {
  float:left;
}

.contactcontainer {
  width:330px !important;
}

#googiframe {
  width:280px;
  height:305px;
  margin-bottom:30px;
}

.archiveheader {
  text-align:right;
  padding-bottom:20px;
  background:url(../images/sp.png);
  background-repeat:repeat-x;
  background-position:bottom;
}

#footer-wrapper{
  display:none;
}
