parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    payment_secret:    "%secret%"

    ipay_test: true
    ipay_site_id: -1  # changeme 
    ipay_send_key: changeme
    ipay_recv_key: changeme
